.medium-blue {
    background-color: $medium-blue;
    color: white;
  }
  .medium-green {
    background-color: $medium-green;
    color: white;
  
    h2 {
      color: white;
    }
  }
  .dark-gray {
    background-color: $dark-gray;
    color: white;
  }
  .medium-gray {
    background-color: $medium-gray;
    color: white;
  }
  .light-gray {
    background-color: $light-gray;
    color: white;
  }
  .header-background {
    background-color: $header-background;
    color: black;
  }
  .blue {
    background-color: $medium-blue;
    color: white; 
  }
  .light-blue {
    background-color: $light-blue;
    color: white;
  }
  .bm-orange {
    background-color: $bm-orange;
    color: white;
  }
  .pale-green {
    background-color: $pale-green;
  }
  .pale-gray {
    background-color: $pale-gray;
  }
  